*{margin:0px; padding:0px;}

/*******************************      FONT     ********************************/
p{font-family:verdana; font-size:12px; margin:2px;}

/*******************************      HEADER     ********************************/
#header{
	margin: 0 auto;
	background-color:#52bad5;
	text-align: center;
	height: 40px;
	margin-top: 0px;
}

#header h1{
	font-family:verdana;
	font-size: 21px;
	color: #fff;
	line-height: 35px;
	letter-spacing: 3px;
}

/*******************************      MENU     ********************************/
#menu{
	background-color: #505050;
	height: 30px;
}

#menu ul {
    list-style:none;
    letter-spacing: -1px;
    float:left;
    clear:both;
	line-height: 12px;
	margin:0px;
}

#menu ul li{
    float:left;
	font-size: 14px;
}
#menu ul li a{
    display:block;
    text-decoration:none;
    padding:4px 5px;
    background-color:#505050;
    width:110px;
    text-align:center;
}
#menu ul li a span{
    display:block;
}
#menu ul li a span.title{
    color:#fff;
    padding:5px;
}
#menu ul li a:hover{
    background-color:#fff;
}
#menu ul li a:hover span.title{
    color:#333;
}

/*****************************      CONTROLLER     ******************************/
#controller{
	float:left;
	background-color: #e2e2e2;
	width: 850px;
}

#connect-section{
	float: left;
	clear: both;
	width: 220px;
	margin: 2px 20px;
	background-color: #e2e2e2;
}

#options-section{
	width: 240px;
	margin: 2px 40px;
	background-color: #e2e2e2;
}

#dummy-data-controller{
	width: 220px;
	margin: 2px 20px;
	background-color: #e2e2e2;
}


/*****************************      BOTTOM     ******************************/
#bottom-left{
	height: 35px;
	width: 50%;
	background-color: #52bad5;
	float: left;
}

#bottom-right{
	height: 35px;
	width: 50%;
	background-color: #01b3d1;
	float: left;
}

#bottom{
	height: 55px;
	background-color: #505050;
	text-align: center;
	clear:both;
}

#bottom h1{
	font-family:verdana;
	font-size: 16px;
	color: #fff;
	line-height: 55px;
}



