#tree-container {
  height: auto;
  margin-bottom: 0px;
}

#tree {
    height: 100%;
    width: 100%;
}

.node {
  cursor: pointer;
}

.node text {
  font: 14px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.additionalParentLink {
  fill: none;
  stroke: #ffff00;
  stroke-width: 1.5px;
}
